<div class="container">
  <h2>Login</h2>
  <br>
  <form class="ok">
    <div class="form-group">
      <label>Username</label>
      <input ng-model="username" name="username" type="text" class="form-control" placeholder="Enter a username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input ng-model="password" name="password" type="password" class="form-control" placeholder="Enter password">
    </div>
      <button class="btn btn-default" style="color: black;" ng-click="login()" type="submit" method="post" name="button">Submit</button>
  </form>
  <h3 ng-show="loginfailed">Password Incorrect</h3>
</div>
